$themeColor_w: white;
$themeColor_o: #cd8b02;
$themeColor_b: #fcfaf2;
$themeColor_g: #216a48;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}
#top {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 20px;
  background-color: $themeColor_g;
  color: $themeColor_b;
  border: none;
  cursor: pointer;
  padding: 10px;
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $themeColor_b;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 1rem;
    li {
      display: flex;
      img {
        width: 42px;
        height: 42px;
        padding: 0.3rem 0.3rem;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_o;
        font-size: larger;
        font-weight: 500;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        transition: all 0.25s ease;
      }
    }
  }
}
header {
  background-image: url("../picture/tree.jpg");
  background-size: cover;
  background-position: 25%;
  color: $themeColor_w;
  font-size: large;
  padding: 3rem 5rem;
}
main {
  display: flex;
  flex-direction: row;
  section {
    display: flex;
    flex-direction: column;
    background-color: $themeColor_b;
    &.left {
      align-items: center;
      padding-bottom: 3rem;
      .pic {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
      }
      .img_container {
        height: 40vh;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }
      .card-img-top {
        width: 100%;
        min-height: 40vh;
        transition: all 0.25s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
      .card-body {
        width: 100%;
        height: fit-content;
        background-color: $themeColor_w;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        align-items: center;
        padding: 20px;
      }
      .card-title {
        color: $themeColor_o;
        font-size: 28px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }
      .card-text {
        color: rgba(0, 0, 0, 0.7);
        font-size: 20px;
        text-align: center;
        letter-spacing: 10px;
        margin: 15px;
      }
      .btn {
        width: 100%;
        height: 20%;
        display: block;
        background-color: $themeColor_o;
        color: $themeColor_b;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        text-align: center;
        letter-spacing: 10px;
        border-radius: 0%;
        padding: 5px;
        margin-bottom: 15px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $themeColor_b;
          color: $themeColor_o;
        }
      }
    }
    &.right {
      align-items: center;
      background-color: $themeColor_w;
      padding: 30px;
      h4,
      p {
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: 2px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        border-top: 2px solid rgba(0, 0, 0, 0.7);
        border-bottom: 2px solid rgba(0, 0, 0, 0.7);
        padding: 10px 0;
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  background-color: $themeColor_o;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      width: 15vw;
      display: flex;
      flex-basis: content;
      align-items: center;
      padding-left: 5px;
      img {
        width: 16px;
        height: 16px;
        margin: 0px 10px;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_b;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding: 0.25rem 0.75rem;
      }
    }
  }
  .btn {
    width: 100px;
    height: 40px;
    display: flex;
    flex-basis: content;
    background-color: $themeColor_b;
    color: $themeColor_o;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all 0.25s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  #logo_fall {
    width: 10%;
    min-width: 100px;
    display: flex;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  main section.left .pic {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  main section.left .pic {
    width: 80%;
  }
}
