$themeColor_w: white;
$themeColor_o: #cd8b02;
$themeColor_b: #fcfaf2;
$themeColor_g: #216a48;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}
#top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  font-size: 20px;
  background-color: $themeColor_g;
  color: $themeColor_b;
  border: none;
  cursor: pointer;
  padding: 10px;
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $themeColor_b;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 1rem;
    li {
      display: flex;
      img {
        width: 42px;
        height: 42px;
        padding: 0.3rem 0.3rem;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_o;
        font-size: larger;
        font-weight: 500;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        transition: all 0.25s ease;
      }
      // &#login {
      //   display: inline-flex;
      //   justify-self: flex-end;
      // }
    }
  }
}
header {
  background-image: url("../picture/tree.jpg");
  background-size: cover;
  background-position: 25%;
  color: $themeColor_w;
  font-size: large;
  padding: 3rem 5rem;
}
section.top {
  display: grid;
  position: relative;
  width: 100%;
  background-color: $themeColor_b;
  padding: 50px 50px 50px 17%;
  overflow: hidden;
  .circle1 {
    padding: 25px;
    justify-self: flex-start;
    margin-left: -20px;
    margin-bottom: -30px;
    background-color: $themeColor_g;
    border-radius: 50%;
  }
  p {
    position: relative;
    color: $themeColor_o;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .circle2 {
    padding: 80px;
    justify-self: flex-end;
    margin-bottom: -160px;
    border: solid 3px $themeColor_g;
    border-radius: 50%;
  }
}
section.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: $themeColor_w;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 15px 0px rgba(0, 0, 0, 0.2);
  h4 {
    display: flex;
    color: $themeColor_o;
    font-size: 28px;
  }
  iframe {
    height: 50vh;
    display: flex;
    flex: 5 1 600px;
    justify-content: center;
    padding: 30px;
  }
}
section.bottom {
  width: 100%;
  background-color: $themeColor_b;
  padding: 10vh 10%;
  div.diary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    div.img {
      height: 50vh;
      display: flex;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -30px 0px $themeColor_g;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.description {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 20px 80px;
      h2 {
        font-size: 32px;
        color: $themeColor_o;
        padding: 10px 0px;
      }
      h5 {
        font-size: 24px;
        color: $themeColor_o;
        font-weight: unset;
        padding: 10px 0px;
      }
      a {
        width: 150px;
        height: 30%;
        background-color: $themeColor_o;
        color: $themeColor_b;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        padding: 5px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $themeColor_b;
          color: $themeColor_o;
        }
      }
    }
  }
  div.resource {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 50px;
    div.img {
      max-width: 280px;
      height: 50vh;
      display: flex;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 30px 0px 0px $themeColor_g;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.description {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 20px 80px;
      h2 {
        font-size: 32px;
        color: $themeColor_o;
        padding: 10px 0px;
      }
      h5 {
        font-size: 24px;
        color: $themeColor_o;
        font-weight: unset;
        padding: 10px 0px;
      }
      a {
        width: 150px;
        height: 30%;
        background-color: $themeColor_o;
        color: $themeColor_b;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        padding: 5px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $themeColor_b;
          color: $themeColor_o;
        }
      }
    }
  }
  div.photograph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div.img {
      max-width: 280px;
      height: 50vh;
      display: flex;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -30px 0px $themeColor_g;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.description {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 20px 80px;
      h2 {
        font-size: 32px;
        color: $themeColor_o;
        padding: 10px 0px;
      }
      h5 {
        font-size: 24px;
        color: $themeColor_o;
        font-weight: unset;
        padding: 10px 0px;
      }
      a {
        width: 150px;
        height: 30%;
        background-color: $themeColor_o;
        color: $themeColor_b;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        padding: 5px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $themeColor_b;
          color: $themeColor_o;
        }
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  background-color: $themeColor_o;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      width: 15vw;
      display: flex;
      flex-basis: content;
      align-items: center;
      padding-left: 5px;
      img {
        width: 16px;
        height: 16px;
        margin: 0px 10px;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_b;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding: 0.25rem 0.75rem;
      }
    }
  }
}
.btn {
  width: 100px;
  height: 40px;
  display: flex;
  flex-basis: content;
  background-color: $themeColor_b;
  color: $themeColor_o;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
  &:hover {
    transform: scale(1.05);
  }
}
#logo_fall {
  width: 10%;
  min-width: 100px;
  display: flex;
  margin-left: 1.5rem;
}
