* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

#top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  font-size: 20px;
  background-color: #216a48;
  color: #fcfaf2;
  border: none;
  cursor: pointer;
  padding: 10px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fcfaf2;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 1rem;
}
nav ul li {
  display: flex;
}
nav ul li img {
  width: 42px;
  height: 42px;
  padding: 0.3rem 0.3rem;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #cd8b02;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.25s ease;
}

header {
  background-image: url("../picture/tree.jpg");
  background-size: cover;
  background-position: 25%;
  color: white;
  font-size: large;
  padding: 3rem 5rem;
}

main {
  width: 100%;
  display: block;
}

section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fcfaf2;
  overflow: hidden;
}
section .mark {
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 200px;
  font-weight: 100;
}
section .namecard {
  width: 70%;
  max-width: 480px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
section .namecard h2 {
  font-size: 36px;
}
section .namecard hr {
  width: 350px;
}
section .namecard form {
  display: flex;
  flex-direction: column;
}
section .namecard form label {
  padding: 10px 0px;
}
section .namecard form input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;
}
section .namecard form button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: #fcfaf2;
  background-color: #cd8b02;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  margin: 25px 0px;
}
section .title {
  color: #cd8b02;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
section .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
}
section .circle1 {
  right: 60px;
  bottom: -60px;
  background-color: #cd8b02;
}
section .circle2 {
  width: 160px;
  height: 160px;
  right: 400px;
  top: -70px;
  border: solid 3px #cd8b02;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #cd8b02;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
footer ul li {
  width: 15vw;
  display: flex;
  flex-basis: content;
  align-items: center;
  padding-left: 5px;
}
footer ul li img {
  width: 16px;
  height: 16px;
  margin: 0px 10px;
}
footer ul li a {
  display: flex;
  align-items: center;
  color: #fcfaf2;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
}

.btn {
  width: 100px;
  height: 40px;
  display: flex;
  flex-basis: content;
  background-color: #fcfaf2;
  color: #cd8b02;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
}
.btn:hover {
  transform: scale(1.05);
}

#logo_fall {
  width: 10%;
  min-width: 100px;
  display: flex;
  margin-left: 1.5rem;
}/*# sourceMappingURL=login.css.map */