$themeColor_w: white;
$themeColor_o: #cd8b02;
$themeColor_b: #fcfaf2;
$themeColor_g: #216a48;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}
#top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  font-size: 20px;
  background-color: $themeColor_g;
  color: $themeColor_b;
  border: none;
  cursor: pointer;
  padding: 10px;
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $themeColor_b;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 1rem;
    li {
      display: flex;
      img {
        width: 42px;
        height: 42px;
        padding: 0.3rem 0.3rem;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_o;
        font-size: larger;
        font-weight: 500;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        transition: all 0.25s ease;
      }
    }
  }
}
header {
  background-image: url("../picture/tree.jpg");
  background-size: cover;
  background-position: 25%;
  color: $themeColor_w;
  font-size: large;
  padding: 3rem 5rem;
}
main {
  section.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: $themeColor_b;
    .left {
      padding: 30px;
      div {
        width: 150px;
        height: 150px;
        display: flex;
        background-color: $themeColor_g;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        p {
          font-size: 24px;
          color: $themeColor_w;
          text-align: center;
        }
      }
    }
    .right {
      background-color: $themeColor_b;
      padding: 5% 0%;
      table {
        border-left: 5px solid $themeColor_g;
        padding-left: 15px;
        tr {
          font-size: 20px;
          td {
            padding: 1rem;
            a {
              background-color: $themeColor_o;
              color: $themeColor_b;
              text-decoration: none;
              padding: 10px;
              transition: all 0.25s ease;
              &:hover {
                background-color: $themeColor_b;
                color: $themeColor_o;
              }
            }
          }
        }
      }
    }
  }
  section.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $themeColor_b;
    div {
      font-size: 24px;
      color: $themeColor_b;
      background-color: #707070;
      padding: 10% 20%;
      margin: 15% 0px;
      outline: dashed;
      outline-offset: 20px;
      outline-color: #707070;
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  background-color: $themeColor_o;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      width: 15vw;
      display: flex;
      flex-basis: content;
      align-items: center;
      padding-left: 5px;
      img {
        width: 16px;
        height: 16px;
        margin: 0px 10px;
      }
      a {
        display: flex;
        align-items: center;
        color: $themeColor_b;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding: 0.25rem 0.75rem;
      }
    }
  }
}
.btn {
  width: 100px;
  height: 40px;
  display: flex;
  flex-basis: content;
  background-color: $themeColor_b;
  color: $themeColor_o;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
  &:hover {
    transform: scale(1.05);
  }
}
#logo_fall {
  width: 10%;
  min-width: 100px;
  display: flex;
  margin-left: 1.5rem;
}
