* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

#top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  font-size: 20px;
  background-color: #216a48;
  color: #fcfaf2;
  border: none;
  cursor: pointer;
  padding: 10px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fcfaf2;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 1rem;
}
nav ul li {
  display: flex;
}
nav ul li img {
  width: 42px;
  height: 42px;
  padding: 0.3rem 0.3rem;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #cd8b02;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.25s ease;
}

header {
  background-image: url("../picture/tree.jpg");
  background-size: cover;
  background-position: 25%;
  color: white;
  font-size: large;
  padding: 3rem 5rem;
}

main section.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fcfaf2;
}
main section.top .left {
  padding: 30px;
}
main section.top .left div {
  width: 150px;
  height: 150px;
  display: flex;
  background-color: #216a48;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
main section.top .left div p {
  font-size: 24px;
  color: white;
  text-align: center;
}
main section.top .right {
  background-color: #fcfaf2;
  padding: 5% 0%;
}
main section.top .right table {
  border-left: 5px solid #216a48;
  padding-left: 15px;
}
main section.top .right table tr {
  font-size: 20px;
}
main section.top .right table tr td {
  padding: 1rem;
}
main section.top .right table tr td a {
  background-color: #cd8b02;
  color: #fcfaf2;
  text-decoration: none;
  padding: 10px;
  transition: all 0.25s ease;
}
main section.top .right table tr td a:hover {
  background-color: #fcfaf2;
  color: #cd8b02;
}
main section.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf2;
}
main section.bottom div {
  font-size: 24px;
  color: #fcfaf2;
  background-color: #707070;
  padding: 10% 20%;
  margin: 15% 0px;
  outline: dashed;
  outline-offset: 20px;
  outline-color: #707070;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #cd8b02;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
footer ul li {
  width: 15vw;
  display: flex;
  flex-basis: content;
  align-items: center;
  padding-left: 5px;
}
footer ul li img {
  width: 16px;
  height: 16px;
  margin: 0px 10px;
}
footer ul li a {
  display: flex;
  align-items: center;
  color: #fcfaf2;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
}

.btn {
  width: 100px;
  height: 40px;
  display: flex;
  flex-basis: content;
  background-color: #fcfaf2;
  color: #cd8b02;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
}
.btn:hover {
  transform: scale(1.05);
}

#logo_fall {
  width: 10%;
  min-width: 100px;
  display: flex;
  margin-left: 1.5rem;
}/*# sourceMappingURL=resource.css.map */